function fish_user_key_bindings
  bind \cr 'peco_select_history (commandline -b)'
  bind \c] 'peco_select_ghq_repository'
  set PATH /opt/homebrew/bin $PATH
end

alias g='cd (ghq root)/(ghq list | peco)'

set -x OPENAI_API_KEY
