[user]
	email = dkimura@bdd.xyz
	name = Daichi Kimura
[core]
	autocrlf = false
	safecrlf = true
	quotepath = false
	precomposeunicode = true
[push]
	default = simple
	autoSetupRemote = true
[credential]
	helper = wincred
[color]
	diff = auto
	status = auto
	branch = auto
[ghq]
	root = ~/Document/ghq
[init]
	defaultBranch = main
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
