[user]
	email = dkimura@bdd.xyz
	name = Daichi Kimura
[core]
	autocrlf = false
	safecrlf = true
	quotepath = false
	precomposeunicode = true
[push]
	default = simple
[credential]
	helper = wincred
[color]
	diff = auto
	status = auto
	branch = auto
[ghq]
	root = ~/Document/ghq
[init]
	defaultBranch = main
